[user]
	name = Shogen, Shuhei | Lethe | ELPD
	email = shuhei.shogen@rakuten.com
[core]
	editor = emacs -Q
	excludesfile = /Users/shuhei.shogen/.gitignore_global
[alias]
	logg = log --graph --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s'
[push]
	default = simple
[alias]
	br = branch
	co = checkout
	cob = checkout -b
	ci = commit
	cm = commit -m
	d = diff
	dc = diff --cached
	mg = merge
	
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = /Users/shuhei.shogen/go/src
