[user]
	name = lethe
	email = lethe2211@gmail.com
[core]
	editor = emacs
	excludesfile = /home/shogen/.gitignore_global
[alias]
	logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s'
[push]
	default = simple
